*{
    margin: 0px;
}

.label {
    display: flex;
    flex-direction: column;
    width: 320px; /*320px 960px*/
    margin: 20px 30px;
    background-color: #84DFFF;
    padding: 10px 10px 20px 20px;
    border-radius: 7px;
    grid-area: modify;
}

.table {
    width: 910px;
    height: 480px;
    margin: 20px 0px 20px 0px;
    background-color: #84DFFF;
    border-radius: 7px;
    grid-area: table;
}

.l-style{
    padding: 7px;
    width: 280px;
    border-radius: 10px;
    border: none;
}

.opt-style {
    width: 307px;
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.input-style{
    width: 264px;
    height: 24px;
    border-radius: 10px;
    border: none;
}

.measurement {
    text-align: center;
    color: black;
    width: 30px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background-color: rgb(170, 170, 170);
    margin: 0;
}

.merge {
    margin: 0;
    padding: 0;
}

.date-style {
    width: 304px;
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.title-style {
    height: 80px;
    font-size: 30px;
    text-align: center;
    margin: 0px 0 10px 0;
    background-color: #516BEB;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-style {
    width: 150px;
    height: 35px;
    margin: 10px 0 0 0;
    border-radius: 50px;
    background-color: #516BEB;
    color: white;
    border: none;
}

.btn-style:hover {
    background-color: white;
    color: black;
    box-shadow: rgb(71, 71, 71) -4px 4px 10px;
}

.btn {
    margin: 10px 0 5px 0;
}

.database {
    display: grid;
    grid-template-areas: 'modify table table';
}

.date-table {
    background-color: #84DFFF;
    width: 100%;
    height: 10%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.data-table {
    width: 100%;
    height: 90%;
    background-color: #EDD2F3;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}