
*{
    margin: 0px;
}

/* Website Title styling */
.title-style {
    height: 80px;
    font-size: 40px;
    text-align: center;
    margin: 0px 0 10px 0;
    background-color: #516BEB;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgb(124, 124, 124) -4px 4px 10px;
}

/* Positioning Title */
.title-style>h3 {
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -3px 3px 3px #000000;
}

/* Both Modify Table and Records Table container */
.database {
    display: grid;
    grid-template-areas: 'modify table table table';
}

/* Modify Table styling Started*/
.modify-table {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 20px 30px;
    background-color: #84DFFF;
    padding: 10px 10px 10px 20px;
    border-radius: 7px;
    grid-area: modify;
    box-shadow: rgb(124, 124, 124) -4px 4px 10px;
}
    /* Modify Table alignment */
.modify-table>h4 {
    text-align: center;
}

    /* Label styling */
.l-style{
    padding: 7px;
    width: 280px;
    border-radius: 10px;
    border: none;
}

    /* Seletion styling */
.opt-style {
    width: 307px;
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

    /* Input styling */
.input-style{
    width: 264px;
    height: 24px;
    border-radius: 10px;
    border: none;
}

    /* Celsius behind high,avg,low temp styling */
.measurement {
    text-align: center;
    width: 30px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background-color: rgb(218, 218, 218);
    margin: 0;
}

    /* Date styling */
.date-style {
    width: 304px;
    height: 25px;
    border-radius: 10px;
    border: none;
    text-align: center;
}

    /* Button styling Started */
.btn-style {
    width: 150px;
    height: 35px;
    margin: 10px 0 0 0;
    border-radius: 50px;
    background-color: #516BEB;
    color: white;
    border: none;
}

.btn-style:hover {
    background-color: white;
    color: black;
    box-shadow: rgb(71, 71, 71) -4px 4px 10px;
}

.btn {
    margin-top:4px;
}
    /* Button styling Ended */
/* Modify Table styling Ended*/

/* Table Section Started */

    /* Positioning Records Table */
.table {
    width: 910px;
    height: 480px;
    margin: 20px 0px 20px 0px;
    border-radius: 7px;
    grid-area: table;
}

.table .container {
    text-align: center;
    margin: 10px 0;
}

.show-favor {
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgb(233, 4, 4);
    border: none;
    border-radius: 20px;
    font-size: 13px;
}

.show-favor:hover {
    background-color: rgb(200, 0, 0);
}

    /* Reduce space between table cells and fit table div*/
#records-table {
    border-collapse: collapse;
    width: 100%;
}

    /* Table border styling */
#records-table td, #records-table th {
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;
}

    /* Each 2 row will change color */
#records-table tr:nth-child(even){
    background-color: #c2c2c2;
}
    /* Table Hover styling */
#records-table tr:hover {
    background-color: rgb(116, 116, 116);
}

    /* Top of the table styling */
#records-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #84DFFF;
    color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
/* Table Section Ended */

/* Favorite Started */

.fa-heart {
    color: red;
}

.fa-heart-o {
    color: black;
}
.favorite {
    background-color: white;
}